.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin: 100px 50px;
}
.cart {
  background: #ffe0b3;
}
@media screen and (max-width: 1300px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
.btn {
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 4px;
  background: #ff9900;
  color: white;
  cursor: pointer;
}
