.form{
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
     box-shadow: -13px 7px 8px 4px rgba(190,191,155,0.75);
    -webkit-box-shadow: -13px 7px 8px 4px rgba(190,191,155,0.75);
    -moz-box-shadow: -13px 7px 8px 4px rgba(190,191,155,0.75);;
}
.form-title{
    font-size: 35px;
    font-weight: 400;
}
.input-group{
    margin-bottom: 20px;
}
.input-group label{
    display: block;
   margin-left: 5px;
}
.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 25px;
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: bisque;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-link{
    color: rgb(198, 148, 88);
    text-decoration: none;
}